.HotAccessories {
  /* border:1px solid red; */
  display: flex;
  width: 97vw;
  margin: auto;
}
.HotAccessories > div:first-child > img {
  width: 22vw;
  transition: all 0.2s;
  cursor: pointer;
}

.HotAccessories > div:first-child > img:hover {
  box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.515);
  transform: translateY(-0.4vmax);
}
.HotAccessories > div:last-child {
  display: flex;
  flex-wrap: wrap;
}
